<li>
  <%= gravatar_for user, size: 50 %>
  <%= user.name %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", "/user/#{user.id}/destroy_by_admin", method: :delete,
                                                                 data: { confirm: "本当に削除しますか?" } %>
  <% end %>
</li>
