<h2>予約済みルーム一覧</h2>
<h3>登録物件数 (<%= @reservations.count %>)</h3>

<%= will_paginate @reservations %>

<table class="table" width="100%">
  <tr>
    <th width="15%">ルーム画像</th>
    <th width="10%">ルーム名</th>
    <th width="15%">ルーム紹介</th>
    <th width="10%">合計料金</th>
    <th width="10%">開始日</th>
    <th width="10%">終了日</th>
    <th width="10%">予約確定日時</th>
    <th width="10%">予約内容変更</th>
    <th width="10%">予約の取消</th>
  </tr>
  <% if @reservations.any? %>
    <ol class="reservations">
      <%= render @reservations %>
    </ol>
  <% end %>
</table>

<%= will_paginate @reservations %>