<h2>登録済みルーム一覧</h2>
<h3>登録物件数 (<%= current_user.rooms.count %>)</h3>

<%= will_paginate @rooms %>

<table class="table" width="100%">
  <tr>
    <th width="25%">ルーム画像</th>
    <th width="10%">ルーム名</th>
    <th width="45%">ルーム紹介</th>
    <th width="10%">料金</th>
    <th width="10%">掲載日時</th>
  </tr>
  <% if current_user.rooms.any? %>
    <ol class="rooms">
      <%= render @rooms %>
    </ol>
  <% end %>
</table>

<%= will_paginate @rooms %>